<h1>Onderzoek visueel associatief geheugen</h1>
<p>
	Leuk dat je deel wil nemen aan mijn onderzoek over het visueel associatief geheugen! <br>
	Dit onderzoek wordt uitgevoerd door Roel Noordmans, student aan de Universiteit Utrecht. <br>
	De data die tijdens dit onderzoek verzameld wordt, is volledig geanonimiseerd. <br>
</p>
<p style="font-size: 26px;">
	Door op 'Akkoord' te klikken ga je akkoord met de volgende onderdelen: <br>
	-	Deelnemen is volledig vrijwillig <br>
	-	Je mag stoppen met deelnemen op elk mogelijk moment <br>
	-	Je bent 18 jaar of ouder <br>
	-	Deelnemen kost ongeveer 5-10 minuten <br>
	<br>
	Voor vragen over dit onderzoek ben ik te bereiken via r.h.noordmans@students.uu.nl <br>
	<br>
</p>


<div class="faceimagecontainer2">
	<%= link_to "Akkoord", landing_path, :class => "volgende" %>
</div>
