<h1>Dank voor het invullen</h1>
<p>Je kan dit scherm nu sluiten</p>
<p style="font-size: 26px;">
	Mocht je na het meedoen aan het onderzoek geïnteresseerd zijn in de uitkomsten, kun je je emailadres achterlaten via het volgende <a href="https://survey.uu.nl/jfe/form/SV_3t6cYBz9lniiGto">formulier</a><br>
	Het emailadres dat je invult kan niet gelinkt worden aan de gegeven antwoorden
</p>