<h1>OZP Visueel Associatief Geheugen</h1>
<p>Voorafgaand aan het onderzoek vraag ik je het onderstaande uitlegfilmpje te bekijken. Zorg dat het volume van je apparaat aan staat.</p>
<iframe width="840" class="ytvideo" height="472,5" src="https://www.youtube.com/embed/rh9QpTddLJo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

<div class="faceimagecontainer2">
	<%= link_to "Volgende", create_path, :class => "volgende" %>
</div>
	